[core]
	editor = atom -n -w
	excludesfile = {filepath}/.gitignore_global
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[color]
	ui = true
[user]
	name = {leave null, define local}
	email = {leave null, define local}
[gpg]
	program = gpg2
